/*@viewport {
   width: device-width;
   zoom: 1;
}*/

*{
  font-family: 'Roboto Condensed', sans-serif;
}
#p1{
  background-color: blue;
}
#p2{
  background-color: white;
}
#p3{
  background-color: red;
}
