*{
  font-family: 'Roboto Condensed', sans-serif;
}
#p1{
  background-color: blue;
}
#p2{
  background-color: white;
}
#p3{
  background-color: red;
}
#form{
  margin: 5px 0 5px 0;
}
#iut{
  width: 300px;
  display: block;
  margin: 0 auto;
}
.img{
  max-width: 500px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
input{
  width: 150px;
}

@media all and (max-device-width: 480px){
  input{
    width: 48%;
    display: inline-flex;
    margin: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
  #iut{
    content: url("../img/logo-iut-hq.jpg");
  }
}
